@import '../utils/variables.scss';
@import '../utils/mixins.scss';

.finished {
  width: 100%;
  @include flex-column;

  span {
    font-size: 2em;
    
    b {
      font-family: 'Bold';
    }
  }

  button {
    margin-top: 10px;
  }
}